extends ../../layout 

block content 
  div.container.d-flex.justify-content-center.align-items-center(style="height: calc(100vh - 56px);background: rgba(0, 0, 0, .1);")
    video#video(src="" style="max-width: 100%; max-height: 100%") 


  script(src='/javascripts/socket.io.min.js')
  script(src='/javascripts/share.js') 