extends ../../layout 

block content 
  div.position-relative(style="height: calc(100vh - 56px);background: rgba(0, 0, 0, .1)")
    div.container#container(style="height: calc(100% - 50px);")
    div(style="width: 100%;height: 50px;background: #ffffff;")
      div.container.d-flex.align-items-center(style="height: 50px;")
        input#input.px-2(type="text" style="height: 38px;width: 100%;background: transparent;border-color: transparent;")
        button#button.btn.btn-success(disabled style="width: 80px;height: 38px;") 发送


  script(src='/javascripts/socket.io.min.js')
  script(src='/javascripts/chat.js') 